body{
    font-size: 12px;

}
.body-wrapper{
    padding: 10px 10px;
}

.progress{
    margin-bottom:0px;
}
#filequeue table tr{
    height: 40px;
}
.ztree li span.button.add {
    margin-left: 2px;
    margin-right: -1px;
    background-position: -144px 0;
    vertical-align: top;
}